---
layout: post
---

{% assign team = site.pages | where: "shortID", "team" | first %}

<article class="post h-entry" itemscope itemtype="http://schema.org/TechArticle">

  <header class="post-header">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateLastUpdated">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.lastUpdated | date: date_format }}
      </time>
      {% if page.modelVersion %} {{page.model}} v{{page.modelVersion}} {% endif %}
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">
          {% assign sep = "" %}
          {% for author in page.author %}
            {%- assign person = team.data | where: "id", author | first -%}
            {{- sep -}}
            {%- if person.url -%}
              <a href="{{person.url}}">{{ person.firstName }} {{ person.lastName }}</a>
            {%- elsif person.lastName -%}
              {{ person.firstName }} {{ person.lastName }}
            {%- else -%}
              {{ author }}
            {%- endif -%}
            {%- assign sep = ", " -%}
          {%- endfor -%}
        </span></span>
      {%- endif -%}</p>
  </header>

<style>
  ul.toc {
    margin:0; 
    list-style-type: none
  }
</style>

  <div class="post-content e-content" itemprop="articleBody">

    <div class="box">

      <h4>Level:
    {% if page.level == 0 %}
      ⚫⚫⚫⚫⚫ <span style="color:#8d82c4">All levels
    {% elsif page.level == 1 %}
      ⚪⚫⚫⚫⚫ <span style="color:#87c5a4">Beginner
    {% elsif page.level == 2 %}
      ⚪⚪⚫⚫⚫ <span style="color:#87c5a4">Beginner
    {% elsif page.level == 3 %}
      ⚪⚪⚪⚫⚫ <span style="color:#e7b788">Advanced
    {% elsif page.level == 4 %}
      ⚪⚪⚪⚪⚫ <span style="color:#e7b788">Advanced
    {% elsif page.level == 5 %}
      ⚪⚪⚪⚪⚪ <span style="color:#ec8d81">Expert
    {% endif %} </h4>
      <h4>Requirements</h4>
      <ul>
      {% for req in page.requirements %}
        <li>{{ req | markdownify  | remove: '<p>' | remove: '</p>'}}</li>
        {% endfor %}
      </ul>

      <h4>Content</h4>
      <ul>
      {% for lesson in page.lessonsContent %}
        <li>{{ lesson | markdownify | remove: '<p>' | remove: '</p>'}}</li>
      {% endfor %}
      </ul>

      <h4>Overview</h4>
      <div class="6u 12u$(small)">
    {% include toc.html html=content class="toc" submenu_class="toc" anchor_class="scrolly" %}
      </div>
    </div>

    {{ content }}

    <br />

    {% if page.exercises %}
    <blockquote class="infobox">
      <h4>Exercises <small>(click on the arrows to uncover the solution)</small></h4>
        {% for exercise in page.exercises %}
        <details>
          <summary>{{ exercise.task}}</summary>
          <blockquote>{{ exercise.solution | markdownify }}</blockquote>
        </details>
        {% endfor %}
    </blockquote>
    {% endif %}

    <p>{% if page.previous.url %}<a href="{{page.previous.url}}" class="button previous">{{page.previous.title}}</a> {% endif %}
      <a href="{% link tutorials.md %}" class="button">Overview</a>
      {% if page.next.url %} <a href="{{page.next.url}}" class="button next">{{page.next.title}}</a>{% endif %}</p>
  
  </div>

{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
